.select {
    /*cursor: pointer;*/
    /*font-size: 16px;*/
    /*padding: 10px;*/
    /*border: 1px solid #007bff;*/
    /*border-radius: 4px;*/
    /*box-shadow: none;*/
    /*background-color: #ffa869;*/
    /*color: #333;*/
    /*width: 100%;*/
    /*max-width: 100px;*/
    /*margin-bottom: 10px;*/
}

/*.select span.main{*/
/*    border: 1px solid black;*/
/*    display: inline-block;*/
/*    min-height: 20px;*/
/*    min-width: 40px;*/
/*}*/
span {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    box-shadow: none;
    background-color: #698cff;

    width: 100%;
    max-width: 100px;
    /*margin-bottom: 30px;*/
}

.items {
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    box-shadow: none;
    background-color: #7f85ff;
    color: #333;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
    /*display: none;*/
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*font-size: 16px;*/
    /*padding: 10px;*/
    /*background-color: #fff;*/
    /*color: #333;*/
    /*max-width: 200px;*/
    /*border: 1px solid #ccc;*/

    /*cursor: pointer;*/
    /*font-size: 16px;*/
    /*padding: 10px;*/
    /*!*border: 1px solid #007bff;*!*/
    /*!*border-radius: 4px;*!*/
    /*!*box-shadow: none;*!*/
    /*!*background-color: #ffffff;*!*/
    /*!*color: #333;*!*/
    /*!*width: 100%;*!*/
    /*max-width: 100px;*/
    /*margin-bottom: 5px;*/
}

.item {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    /*border: 1px solid #007bff;*/
    /*border-radius: 4px;*/
    /*box-shadow: none;*/
    /*background-color: #ffffff;*/
    /*color: #333;*/
    /*width: 100%;*/
    max-width: 100px;
    margin-bottom: 5px;
}

.item.selected {
    background-color: #5c5700;
    color: white;
}

/*.select.active .items{*/
/*   display: block;*/
/*}*/
/*.menu {*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    padding: 10px;*/
/*    border: 1px solid #007bff;*/
/*    border-radius: 4px;*/
/*    box-shadow: none;*/
/*    background-color: #fff;*/
/*    color: #333;*/
/*    width: 100%;*/
/*    max-width: 200px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*!*.menu_element {*!*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    padding: 10px;*/
/*    background-color: #fff;*/
/*    color: #333;*/
/*    max-width: 200px;*/
/*    border: 1px solid #ccc;*/
/*}*/

.items:hover {
    border-color: #5c0019;
    color: rgb(92, 0, 25);
}

/*.menu_element:focus {*/
/*    border-color: #007bff;*/
/*    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);*/
/*    background-color: rgb(255, 168, 105);*/
/*    outline: none;*/
/*}*/

